<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>CFBundleDisplayName</key>
	<string>botonera</string>
	<key>CFBundleIdentifier</key>
	<string>org.bastianx6.botonera</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>botonera</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Necesitamos almacenar imágenes para darte una mejor experiencia.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceder a tus imágenes para darte una mejor experiencia.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Necesitamos acceder al calendario para agendar eventos que te podrían interesar.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>La aplicación te entregará información relevante según tu ubicación.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>La aplicación te entregará información relevante según tu ubicación.</string>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>
